<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.lang.Object"
            class="de.bitub.proitbau.core.couchdb.mapper.factory.internal.DomainModelObjectMapperFactoryFactory">
         <adapter
               type="de.bitub.proitbau.core.couchdb.mapper.factory.iDomainModelObjectMapperFactory">
         </adapter>
      </factory>
   </extension>

</plugin>
