<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.lang.Object"
            class="de.bitub.proitbau.core.couchdb.repository.support.internal.DomainModelFactory">
         <adapter
               type="de.bitub.proitbau.core.model.domain.iDomainModel">
         </adapter>
      </factory>
      <factory
            adaptableType="java.io.File"
            class="de.bitub.proitbau.core.couchdb.repository.support.internal.DomainModelFactory">
         <adapter
               type="de.bitub.proitbau.core.model.domain.iDomainModel">
         </adapter>
      </factory>
      <factory
            adaptableType="org.ektorp.CouchDbConnector"
            class="de.bitub.proitbau.core.couchdb.repository.support.internal.RepositorySupportFactory">
         <adapter
               type="de.bitub.proitbau.core.couchdb.repository.support.iDomainModelRepositorySupport">
         </adapter>
      </factory>
      <factory
            adaptableType="org.ektorp.CouchDbConnector"
            class="de.bitub.proitbau.core.couchdb.repository.support.internal.RepositorySupportFactory">
         <adapter
               type="de.bitub.proitbau.core.couchdb.repository.support.iProjectRepositorySupport">
         </adapter>
      </factory>
   </extension>

</plugin>
