<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.bitub.proitbau.common.versioning.couchdb.repository.support.iBindingGraphRepositorySupport"
            class="de.bitub.proitbau.common.versioning.couchdb.repository.support.internal.BindingGraphFactory">
         <adapter
               type="de.bitub.proitbau.common.versioning.couchdb.binding.graph.iBindingGraph">
         </adapter>
      </factory>
      <factory
            adaptableType="org.ektorp.CouchDbConnector"
            class="de.bitub.proitbau.common.versioning.couchdb.repository.support.internal.RepositorySupportFactory">
         <adapter
               type="de.bitub.proitbau.common.versioning.couchdb.repository.support.iBindingGraphRepositorySupport">
         </adapter>
      </factory>
   </extension>
</plugin>
